* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #faf8ef;
}

#game-container {
    text-align: center;
}

h1 {
    margin-bottom: 20px;
    font-size: 36px;
    color: #776e65;
}

#grid-container {
    display: grid;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: repeat(4, 100px);
    gap: 10px;
}

.grid-cell {
    width: 100px;
    height: 100px;
    background-color: #cdc1b4;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 28px;
    font-weight: 500;
    
    color: #776e65;
    transition: all 0.2s ease;
}


#game-over {
    margin-top: 20px;
    font-size: 36px;
    color: red;
}

button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
    background-color: #8f7a66;
    color: white;
    border: none;
    border-radius: 5px;
}


